/* Tag Selectors */
h1 {
  text-align: center;
  margin-top: 20px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Class Selectors */
.form {
  text-align: center;
  margin-top: 50px;
}

/* ID Selectors */
#username:focus,
#password:focus,
#isAustralian:focus,
#reason:focus {
  border-color: #ff6347;
  background: #ffebe8;
}

/* Attribute Selector */
select[id='gender'] {
  background-color: #d3d3d3;
}
